#box {
    display: inline-block;
    background-color: #4C5B84;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
}

#box h1 {  /* #box h1 Está pegando o filho h1 para atrinuir só a ele*/
    margin-bottom: 28px;
}