.sectionS {
    background-color: #BA1F33;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid rgb(8, 8, 8);
}

.sectionS .main-title {
    margin-bottom: 60px;
}


.sectionS.-bgBlack {
    background-color : rgb(5, 7, 19);
}

.sectionS.-bdFirst {
    border-color: rgb(0, 0, 0);
}

.sectionS.-bgSecond {
    background-color: #BA1F33;
    border-bottom: #000 solid 10px;
}
