.sectionS {
    background-color: #BA1F33;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid rgb(247, 110, 97);
}

.sectionS .main-title {
    margin-bottom: 60px;
}


.sectionS.-bgBlack {
    background-color: #000;
}

.sectionS.-bdFirst {
    border-color: crimson;
}