.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .main-skill {
    margin-bottom: 40px;
    width: 430px;
}

.wrapper-skill .main-skill:nth-child(odd) {  /*Usando uma pseudo classe para adicionar margin apenas nos impares, para pares usariasse nth-child(even)*/
    margin-right: 100px;
}

.wrapper-skill .progress-bar {
    width: 320px;
}